@using LuminosECommerce.Models;
@model LuminosECommerce.DAL.Pagination.PagedModel<LuminosECommerce.Models.Item>
@{
    Layout = "_Layout";
}

<div>
    <h1>Vue 3 Integration</h1>
    <p>Message from Vue: {{appMessage}}</p>
</div>

<!--<product-list :products='@Html.Raw(Json.Serialize(Model.Items))'></product-list>-->
<productlist></productlist>

<script setup type="module">
import {'productlist'} from "./Vue/Products3.js"
</script>
<!--<script src="~/Vue/Products2.js"></script>-->